* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  width: 100%;
  padding: 20px 0px;
}

.container {
  width: 1280px;
  padding: 0px 50px;
  margin: auto;
}

.nav-content {
  display: flex;
  width: 100%;
}

.nav-logo {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: orangered;
  width: 30%;
}

.nav-list {
  display: flex;
  width: 70%;
}

.nav-list li {
  padding: 0px 40px;
  list-style-type: none;
  cursor: pointer;
}
.nav-list li a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.nav-list li a:hover {
  color: orangered;
}
/* ===========Nav bar End ============ */

.banner-part {
  background: url("../image/light.jpg");
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  width: 45%;
  padding: 60px 0px;
}
.banner-content h1 {
  font-size: 36px;
  color: white;
  padding: 20px 0px;
  letter-spacing: 2.5px;
  line-height: 45px;
}
.banner-content h1 span {
  color: orangered;
}

.banner-content p {
  font-size: 15px;
  color: white;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;
}

.contact-btn {
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.25px;
  transition: 0.1s all ease-in-out;
}

.about-btn {
  color: black;
  font-weight: bold;
  padding: 12px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orangered;
  cursor: pointer;
  letter-spacing: 1.25px;
  transition: 0.1s all ease-in-out;
}

.contact-btn:hover {
  color: white;
  background-color: black;
}
.about-btn:hover {
  color: orangered;
  background-color: black;
}

.company-desc h1 span {
  color: orangered;
}

.read-more-btn {
  padding: 12px 30px;
  border-radius: 10px;
}
