* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  width: 100%;
  padding: 20px 0px;
}

.container {
  width: 1280px;
  padding: 0px 50px;
  margin: auto;
}

.nav-content {
  display: flex;
  width: 100%;
}

.nav-logo {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: orangered;
  width: 30%;
}

.nav-list {
  display: flex;
  width: 70%;
}

.nav-list li {
  padding: 0px 40px;
  list-style-type: none;
  cursor: pointer;
}
.nav-list li a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.nav-list li a:hover {
  color: orangered;
}
/* ===========Nav bar End ============ */

.banner-part {
  background: url("../image/light.jpg");
  padding: 120px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  width: 45%;
  padding: 60px 0px;
}
.banner-content h1 {
  font-size: 36px;
  color: white;
  padding: 20px 0px;
  letter-spacing: 2.5px;
  line-height: 45px;
}
.banner-content h1 span {
  color: orangered;
}

.banner-content p {
  font-size: 15px;
  color: white;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;
}

.contact-btn {
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.25px;
  transition: 0.1s all ease-in-out;
}

.about-btn {
  color: black;
  font-weight: bold;
  padding: 12px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orangered;
  cursor: pointer;
  letter-spacing: 1.25px;
  transition: 0.1s all ease-in-out;
}

.contact-btn:hover {
  color: white;
  background-color: black;
}
.about-btn:hover {
  color: orangered;
  background-color: black;
}

.company-desc h1 span {
  color: orangered;
}

.read-more-btn {
  padding: 12px 30px;
  border-radius: 10px;
}
/* Banner part END */

.company-details {
  padding: 100px 0px;
}

.company-desc {
  width: 50%;
}

.company-desc h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 40px;
}

.company-desc h2 span {
  color: orangered;
}

.company-desc p {
  color: grey;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.read-more-btn {
  padding: 12px 38px;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.service-wrapper {
  background-color: rgb(156 152 152 / 16%);
  padding: 120px 0px;
}

.service-content {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.service-content h1 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.service-content p {
  letter-spacing: 2px;
  line-height: 25px;
}

.service-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-box {
  width: 25%;
  min-height: 320px;
  background-color: white;
  margin: 0px 15px;
  padding: 60px 30px;
  border-radius: 5px;
  border: 1.5px solid orangered;
}

.service-box h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service-box p {
  line-height: 25px;
}

.intilegence-wrapper {
  width: 100%;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intilegence-img {
  width: 40%;
}

.intilegence-img img {
  width: 100%;
}

.Intelligence-desc {
  width: 50%;
}

.Intelligence-desc h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.Intelligence-desc p {
  line-height: 25px;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.list-items {
  padding-left: 20px;
  margin-bottom: 30px;
}
.list-items li {
  margin: 15px 0px;
}

footer {
  padding: 30px 0px;
  background-color: #18202b;
  text-align: center;
  font-size: 17px;
  color: white;
  letter-spacing: 1.5px;
  margin-bottom: 2px;
}

footer span {
  color: orangered;
}
